
/* --- retirer css par default navigateur --*/

body{
    background-color: #f6f6f6;
    margin: 0px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;    
}
h2{
    margin: 0px;
}

p{
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}


/* ///////////-- HEADER --\\\\\\\\\\ */


/* --------header_top------ */

.header_top{
    width: 100vw;
    height: 55px;
    background-color: #deefff;
    border-bottom: solid 2px black;
    
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    
}

.aquarium_name{
    margin-left: 8vw;
    font-weight: 400;
    align-self: center;
    justify-self: start;
    font-size: 1.1em;  
}

.logo{
    align-self: center;
    justify-self: center;
}

.hamburger_header{
    width: 34px;
    display: block;
    margin-right: 5vw;
    align-self: center;
    justify-self: end;
}


/* ----- header_bottom ----*/


.header_bottom{
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    border-collapse: collapse;  

}

.navigation{
    padding: 0px;
    flex-grow: 1;
    list-style-type: none;
    background-color: rgba(222, 239, 255, 0.5); 
    box-shadow: inset 0px 0px 15px rgba(0, 32, 138, 0.1); 
}

.navigation:first-of-type{
    background-color: rgba(222, 239, 255, 0);
    border: none;
    box-shadow: none;
}

.navigation:nth-of-type(2){
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-bottom: solid 2px black; 
}

.navigation:nth-of-type(3){
    border-right: solid 2px black;
    border-bottom: solid 2px black; 
}

.navigation  a img{
    width: 6vw;
    max-width: 40px;
    display: block;
    padding: 2.5vw 0px;
    margin: 0 auto;

}

/*////////--  HEADER RESPONSIVE --\\\\\\\\ */

@media screen and (min-width: 600px){

    /* header_top /// responsive */

    .header_top{
        height: 60px;
    }

    .hamburger_header{
        width: 38px;
    }

    .aquarium_name{
        font-size: 1.3em;  
    }

    /* header_bottom /// responsive */

    .navigation a img{
        max-width: 32px;
        padding: 12px 0px;
    
    }

}


/* ////// RESPONSIVE FLEXBOX ASIDE //// */
#section_grid_responsive{
    display: grid;
    grid-template-columns: 1fr;
}

aside{
    display: none;
}


@media screen and (min-width: 1000px){
    #section_grid_responsive{
        grid-template-columns: 1fr 3fr;
    }
    
    #aside_hamburger_g{
        display: block;
        order: 1;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        min-height: calc(100vh - 62px)
    }

    .section_center{
        order: 2;
    }
}

@media screen and (min-width: 1500px){
    #section_grid_responsive{
        grid-template-columns: 1fr 3fr 1fr;
    }
    
    #aside_hamburger_g{
        display: block;
        order: 1;
        box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
        min-height: calc(100vh - 62px)
    }

    #aside_publicite{
        order: 3;
        display: block;
        min-height: calc(100vh - 62px)
    }

    .section_center{
        order: 2;
    }
}

/* //////// ASIDE HAMBURGER GAUCHE\\\\\\ */

.ul_aside_hamb{
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 56px;
}

.a_aside_hamb {
    display: block;
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 17px 5px 17px 12px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.img_fish_hamb{
    display: none;
    padding-right: 8px;
}

.a_aside_hamb:hover{
    background-color: #deefff;
    outline: solid 2px #2c82d2;
    outline-offset: -2px;
    position: relative;
}

/*  aside hamburger gauche responsive */

@media screen and (min-width: 1200px){
    .img_fish_hamb{
        display: inline-block;
    }
}

@media screen and (min-width: 1650px){
    .img_fish_hamb{
        padding-left: 2vw;
    }
}

/* //////// ASIDE PUBLICITE DROITE \\\\\\ */

.box_publicite{
    width: 290px;
    height: 600px;
    background-color: white;
    border: 2px solid #7a84d8;
    border-radius: 20px;
    margin: 30px auto 0 auto;
}

.titre_box_pub{
    width: 290px;
    height:40px;
    background-color: #deefff;
    border-radius: 17px;
}

.text_titre_box_pub{
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    color: black;
}

.img_1_aside_pub{
    display: block;
    margin-top: 12px;
    width: 182px;
    height: 256px;
    margin-left: auto;
    margin-right: auto;
}

.img_2_aside_pub{
    display: block;
    margin-top: 16px;
    width: 182px;
    height: 256px;
    margin-left: auto;
    margin-right: auto;
}

/* /////// CONTENU AFFICHEUR \\\\\\\\ */

form{
     /* border: 1px solid black; */
    margin: calc(25px + 2vw) auto 0 auto;
    text-align: center;
    width: 90%;
    min-width: 350px;
    max-width: 600px;
}

@media screen and (min-width: 750px){
    form{
        max-width: 750px;
    }
}

/*////// DATE ET CHECKBOX \\\\\\\\*/

.date_and_checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;

}

label[for="date"]{
    font-weight: 500;
    font-size: 18px;
}


input[type="date"]{
    border: none;
    height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    border-bottom: solid 1px black;
}

.explain_checkbox{
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
}

/* ---------- Bouton checkbox en slider ------*/
/* represente la partie cliquable cache derriere slider*/
.label_click {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 34px;
  }
  /* transforme le label en checkbox mais opacite 0 */
  input[type="checkbox"] { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* represente le bouton visuel mais aucun lien avec checkbox */
  .fake_button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 18px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
  .fake_button:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 0px;
    background-color: #b92323;
    outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 50%;
    -webkit-transition: .6s;
    transition: .6s;
  }
  
  input:focus + .fake_button {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .fake_button:before {
    -webkit-transform: translatey(-16px);
    -ms-transform: translatey(-16px);
    transform: translatey(-16px);
    background-color: #2c82db;

  }

/* /////// DATE ET CHECKBOX-responsive\\\\\\\\ */
  
@media screen and (min-width: 600px){

    input[type="date"]{
        font-size: 20px;
        border-bottom: solid 1px black;  
    }
/* -----bouton explication responsive----- */
    .explain_checkbox{
        font-size: 16px;
        font-weight: 500;
        margin: 0;
    }

}

 /*/////////   WRAP DE DATA   \\\\\\\\\\*/

form > div:nth-child(2){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* ------- boutton- wrap_de_data-------- */

.wrap_data{
    width: calc(100px + 15vw);
    height: calc(40px + 5vw);
    min-width: 160px;
    max-width: 210px;
    min-height: 60px;
    max-height: 78px;

    background-color: white;
    text-align: start;

    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 12px;
}

.trait_noir{
    width: calc(100px + 15vw);
    height: calc(30px + 5vw);
    min-width: 160px;
    max-width: 210px;
    min-height: 50px;
    max-height: 68px;

    position: absolute;
    border-bottom: solid 10px #b8b8b8;
    outline: 9px solid white;
    outline-offset: -9px;
}


.wrap_data input[type="text"]{
    width: calc(100px + 15vw);
    height: calc(40px + 5vw);
    min-width: 160px;
    max-width: 210px;
    min-height: 60px;
    max-height: 78px;

    position: absolute;
    padding-top: 17px;
    background-color: rgba(255, 255, 255, 0);
    border: solid black 1px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #373737;
    
}

.label_wrap_data{
    display: block;
    position: relative;
    width: min-content;
    padding: 3%;
    font-size: calc(10px + 1.1vw);
    color: rgb(49, 49, 49);
    font-weight: 500;
}

.pourcentage{
    width: calc(100px + 15vw);
    height: calc(40px + 5vw);
    min-width: 160px;
    max-width: 210px;
    min-height: 60px;
    max-height: 78px;

    display: flex;
    flex-direction: row-reverse;

    position: absolute;
    text-align: end;
}

.pourcentage p{
    display: inline-block;
    font-size: 25px; 
    font-weight: 400; 
    align-self: flex-end;
    padding: 6px 7px;
}

.wrap_data_button{
    width: calc(100px + 15vw);
    height: calc(40px + 5vw);
    min-width: 160px;
    max-width: 210px;
    min-height: 60px;
    max-height: 78px;

    text-align: center;

    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 12px;
}

div input[type="submit"]{

    width: calc(80px + 15vw);
    height: calc(40px + 5vw);
    min-width: 140px;
    max-width: 190px;
    min-height: 60px;
    max-height: 78px;

    font-size: calc(10px + 1.1vw);
    font-weight: 500;
    color: #ffffff;
    border-radius: 10px;
    background-color: #2c82d2; 
    box-shadow: 2px -2px 5px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 750px){

    .pourcentage p{
        font-size: 30px; 
        font-weight: 400;     
    }   
}

@media screen and (min-width: 1000px){

    .label_wrap_data{      
        font-size: 21px;
    }

    div input[type="submit"]{
        font-size: 20px;
    }
}


/* ------- Notation data ------- */

form > div:nth-child(3){
    display: flex;
    flex-direction: row;
    width: calc(210px + 30vw);
    min-width: 330px;
    margin: 5px auto 50px auto;
}

.label_notation{
    display: inline-block;
    align-self: center;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
}


input[id="notation"]{
    display: inline-block;
    height: 30px;
    flex-grow: 1;
    font-size: 16px;
    font-weight: 500;
    padding: 0px 5px;
}

@media screen and (min-width: 750px){

    form > div:nth-child(3){
        width: calc(320px + 45vw);
        max-width: 650px;
        margin: 15px auto 50px auto;
    }

    .label_notation{
        font-size: 16px;
        margin-right: 20px;
    }

    input[id="notation"]{
        height: 36px;
        font-size: 18px;
    }
    
}